.feinman {
  background-image: url('../images/feinman.png');
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 790px;
  padding-top: 100px;
}
